<%- include('./partials/head') %>
    <%- include('./partials/navBlog') %>

        <main id="blog-main">

            <section class="grid-wrapper">
                <h1>
                    <%= article.title %>
                </h1>
                <img src="<%= article.url %>" alt="article-img">
                <div id="blog-entry">
                    <img src="<%= article.author_bild %>" alt="article-img">
                    <div>
                        <p>
                            <%= article.author %>
                        </p>
                        <div>
                            <p>
                                <%= article.published_at %>

                                    <%= article.duration %> min read
                            </p>
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti sunt suscipit voluptatum quia,
                    quae ducimus enim iste, aliquid, illum fugit error ut voluptas animi nam!
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem minus temporibus ex debitis dolores
                    fuga doloremque tempore accusantium hic. Dolorum.
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime temporibus non hic quasi et fugiat.
                    Adipisci, delectus iure odio tenetur autem eveniet voluptate amet consequatur laborum voluptas
                    deserunt reprehenderit veniam!
                    <br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, corrupti.
                </p>
            </section>
            <article class="articles">
                <h1>What to read next</h1>

                <% data.forEach(element=> {%>
                    <div>
                        <a href="/blog/<%=element.id%>"><img src="<%= element.url %>" alt="article-img"></a>
                        <h2>
                            <%= element.title %>
                        </h2>
                    </div>
                    <% }) %>
            </article>
        </main>

        <%- include('./partials/footer') %>